.nav-tabs li {
  padding: 10px 20px;
}
.nav-tabs li a {
  color: #404040;
  font-size: 16px;
  cursor: pointer;
}
.list-group-item-heading {
  color: #404040 !important;
  font-weight: 300;
}
.active {
  background: #f2f2f2;
  border: 1px solid #ebebeb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}